---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

function formatDate(date: Date) {
    return date.toLocaleDateString("en-us", {
        month: "short",
        day: "2-digit",
        year: "numeric",
    });
}
---

<BaseLayout title="Blog" description="Engineering logs and research notes.">
    <div class="terminal-wrapper">
        <div class="terminal-header">
            <div class="tt-buttons">
                <span class="tt-dot red"></span>
                <span class="tt-dot yellow"></span>
                <span class="tt-dot green"></span>
            </div>
            <div class="tt-title">yojan@gmu: ~/logs</div>
        </div>

        <div class="terminal-window">
            <div class="command-line">
                <span class="tt-prompt">➜</span>
                <span class="tt-dir">~/logs</span>
                <span class="tt-branch">(main)</span>
                <span class="tt-cmd">ls -l --sort=date</span>
            </div>

            <div class="file-list">
                <div class="table-header">
                    <span>PERMISSIONS</span>
                    <span>DATE_MOD</span>
                    <span>FILENAME / TITLE</span>
                    <span>DESCRIPTION</span>
                </div>

                {
                    posts.map((post) => (
                        <a href={`/blog/${post.id}/`} class="file-row fade-in">
                            <span class="col-perm">-rw-r--r--</span>
                            <span class="col-date">
                                {formatDate(post.data.pubDate)}
                            </span>
                            <span class="col-name">
                                {post.data.title}
                                <span class="extension">.md</span>
                            </span>
                            <span class="col-desc">
                                // {post.data.description}
                            </span>
                        </a>
                    ))
                }
            </div>

            <div class="command-line mt">
                <span class="tt-prompt">➜</span>
                <span class="tt-dir">~/logs</span>
                <span class="tt-branch">(main)</span>
                <span class="tt-cursor">█</span>
            </div>
        </div>
    </div>
</BaseLayout>
