<!doctype html>
<html lang="en" class="scroll-smooth">
    {{ partial "head.html" . }}

    <body class="font-sans antialiased">
        <div
            id="app"
            class="min-h-screen relative overflow-x-hidden transition-colors duration-500 selection:bg-black selection:text-white dark:selection:bg-white dark:selection:text-black"
        >
            <div
                id="canvas-container"
                class="fixed inset-0 z-0 h-screen w-full opacity-40 pointer-events-none"
            ></div>

            {{ partial "header.html" . }}

            <main class="relative z-10 min-h-screen flex flex-col ml-20">
                {{ block "main" . }}{{ end }}
            </main>

            {{ partial "footer.html" . }}
        </div>

        {{ partial "script.html" . }}
    </body>
</html>
