.content{
    display:block;
    border-radius: 10px;
    position: relative;
    min-height: 100%;
    width: 100%;
    float: right;
    padding: 0%;
    margin: 0%;
}
*{
    padding: 0%;
    margin: 0%;
}
.frame{
    min-height: 100%;
}

body, html{
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    scrollbar-base-color: black;
    min-height: 100%;
}
aside{
    visibility: hidden;
    display: block;
    position: fixed;
    left:0px;
    background: rgb(200, 200, 200);
    width:15%;
    min-height:100%;
    float: left;
    overflow: visible;

}
ul{
    display: block;
    list-style-type: none;
    position: relative;
    left: 0px;
    height: max-content;
    padding: 0px;
    width: 100%;
    background-color:rgba(255, 255, 255, 0.35);
}
ul a{
    display: block;
    text-decoration: none;
    font-size: large;
    color:black;
    padding: 13px;
}
ul a:hover{
    background-color: white;
}

.profilepic{
    height: 50%;
    width: 50%;
    position: relative;
    left: 20%;
    border-radius: 50px;
    background:url('profilepic1.jpg');

}
figcaption{
    display: block;
    padding: 10px;
}

figcaption a{
    text-decoration: none;
    color:black;
}

.menuicon{
    height: 50px;
    width: 50px;
    display: block;
    font-size: 30px;
    position: fixed;
    top:0px;
    left:0px;
    color: white;
    
}

.heading{
    position: absolute;
    font-size: 90px;
    text-align: center;
    top:50%;
    color:white;
    width: 100%;
    font-family: cursive;
}

.cover{
    position: relative;
    min-height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0%;
    
}



.container{
    background-color:rgb(39, 32, 32);
    color:white;
    width: 100%;
    margin-top: 0px;
    padding: 0px;
    font-size: 20px;
    float: left;
    

}
.container h1{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.footer{
   background-color: black;
   position: relative;
   height: 200px;
   
}
.footer h1{
    color: white;
    font-family: cursive;
    text-align: center;
}
.footer ol{
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: center;
}
.footer ol li{
    
    display: inline;
}

.contactform{
    position: relative;
    padding: 10px;
    display: block;
    background: rgb(39, 32, 32);
    width: 600px;
    border-radius: 20px;
    left: 50%;
}

.form-control{
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    color:white;
    font-size: 18px;
    min-height: 100px;
    width: 100%;
    background: rgb(39, 32, 32);
    
}

.submit{
    background: rgb(42, 29, 235);
    border: 0px;
    border-radius: 5px;
    margin-top: 15px ;
    font-size: 20px;
    font-family: cursive;
    width: 400px;
    text-align: center;
}
.submit:hover{
    background: rgb(200, 200, 200);
    color: black;
}


.project{
    position: relative;
    padding: 0px;
    margin: 0px;
    left: 30%;
}

.top{
    background-color: white;
    text-emphasis: bold;
    font-size: 25px;
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    text-align: center;
    right: 0px;
    top:0px;
}
.top a {
    position: relative;
    color: black;
    text-decoration: none;
    font-size: 50px;
    border-radius: 50%;
}
.top:hover{

    background-color: aqua;

}

.text {
    color: rgb(200, 200, 200);
    position:absolute;
    bottom: 0%;
    width: 100%;
    text-align: center;
}

