<!DOCTYPE html>
<html>
    <head>
        <title>Yojan Gautam</title>
        <link rel="stylesheet" type="text/css" href="../static/style.css">
    </head>

    <body>
            <aside class="side" id="navbar">
                    <figure>
                        <img src="../static/profilepic1.jpg" class="profilepic">
                        <figcaption>Yojan Gautam</figcaption>
                    </figure>
                    <nav>
                        <ul>
                            <li><a href="../index.html">Home</a></li>
                            <li><a href="aboutme.html" >About Me</a></li>
                            <li><a href="project.html">Projects</a></li>
                            <li><a href="contactme.html" >Contact Me</a></li>
                        </ul>
                    </nav>
                    
                </aside>
        <div class="frame">
           
            
        <div class="content" id="main">
            <div class="cover"  >
                <img src="../static/vector.jpg" style="width:100%;min-height:350px;max-height:500px;">               
                <div class="heading">My Projects </div>
                <div class="menuicon" onclick="openNav()" >&#9776;</div>
            </div>
            <br>
            
            <div>
                <table>
                    <tr>
                        <th>Projects</th>
                        <th>Codes</th>
                    </tr>
                    <tr>
                        <td>
                            
                        </td>
                    </tr>
                </table>
            </div>

        </div>
    </div>

        <script>
            function openNav(){
                if(document.getElementById("navbar").style.visibility === "visible"){
                    document.getElementById("navbar").style.visibility="hidden";
                    document.getElementById("main").style.width="100%";
                }
                else{
                   document.getElementById("navbar").style.visibility="visible";
                   document.getElementById("main").style.width="85%";
                   document.getElementsByClassName("menuicon").style.left="0";

                }
            }
        </script>

    </body>

</html>