<!DOCTYPE html>
<html>
    <head>
        <title>Yojan Gautam</title>
        <link rel="stylesheet" type="text/css" href="../static/style.css">
    </head>

    <body>
            <aside class="side" id="navbar">
                    <a href="../index.html"><figure>
                        <img src="../static/profilepic1.jpg" class="profilepic">
                        <figcaption><b><i>Yojan Gautam</i></b></figcaption>
                    </figure></a>
                    <nav>
                        <ul>
                            <li><a href="../index.html">Home</a></li>
                            <li><a href="aboutme.html" >About Me</a></li>
                            <li><a href="project.html">Projects</a></li>
                            <li><a href="contactme.html" >Contact Me</a></li>
                        </ul>
                    </nav>
                    
                </aside>
        <div class="frame" id="top">
           
            
        <div class="content" id="main">
            <div class="cover"  >
                <img src="../static/project.jpg" style="width:100%;min-height:350px;max-height:500px;">               
                <div class="heading" style="color:black">My Projects </div>
                <div class="menuicon" onclick="openNav()" >&#9776;</div>
            </div>
            <br>
            
            <div>
                <table class="project">
                    <tr>
                        <th>Projects</th>
                    </tr>
                    <tr>
                        <td>
                            <video src="../static/Capture_2.mp4" height="500px" width="500px" type="video/webm" controls></video>
                        </td>
                        
                    </tr>
                    <tr>
                        <td>
                            <!--<iframe src="https://drive.google.com/file/d/1p1z-37qMOIS7338sg6KigL2ZJ2AjKBph/view?usp=sharing" height="500px" width="500px"></iframe>
                            --><video src="https://youtu.be/0oCs55bqiB" height="500px" width="500px" type="video/webm" controls></video>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="footer">
                    <h1>Follow Me</h1>
                <ol>
                    <li><a href="https://github.com/Super-Yojan" target="_blank"><img src="../static/githublogo.png" width="50px" height="50px"></a></li>
                    <li><a href="https://www.instagram.com/moscovium.11.5/" target="_blank"><img src="../static/instagram.jpg" width="50px" height="50px" style="object-fit: cover;"></a>/li>
                    
                </ol>   
                <div class="top"><a href="#top">^</a></div>  
                <div class="text">&copy; Super-Yojan</div>
                </div>
        </div>
    </div>

        <script>
            function openNav(){
                if(document.getElementById("navbar").style.visibility === "visible"){
                    document.getElementById("navbar").style.visibility="hidden";
                    document.getElementById("main").style.width="100%";
                }
                else{
                   document.getElementById("navbar").style.visibility="visible";
                   document.getElementById("main").style.width="85%";
                   document.getElementsByClassName("menuicon").style.left="0";

                }
            }
        </script>

    </body>

</html>
